server:
  error:
    include-message: always
    include-binding-errors: always
spring:
  application:
    name: tasko-server
  profiles:
    active: @spring.profiles.active@
  jpa:
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect