name: Java CI with Maven
on:
  push:
    branches:
      - main
      - 'feature/*'
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Set Environment Variables
        run: echo "SIGNER_KEY=${{ secrets.SIGNER_KEY }}" >> $GITHUB_ENV

      # Build với Maven, sử dụng profile ci
      - name: Build with Maven
        run: mvn -B package -DskipTests -Dspring.profiles.active=ci

      # Chạy test
      - name: Run Tests
        run: mvn test -Dspring.profiles.active=ci

      - name: Archive Test Results
        if: always()
        uses: actions/upload-artifact@v4.6.2
        with:
          name: test-results
          path: target/surefire-reports/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set Environment Variables
        run: echo "SIGNER_KEY=${{ secrets.SIGNER_KEY }}" >> $GITHUB_ENV

      - name: Deploy to Production
        run: echo "Deploying to production..."
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          SERVER_HOST: ${{ secrets.SERVER_HOST }}
          SERVER_PORT_PROD: ${{ secrets.SERVER_PORT_PROD }}
          SIGNER_KEY: ${{ secrets.SIGNER_KEY }}

      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@v4
